<!DOCTYPE html>
<html lang="en">

<head data-th-fragment="default_header(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link data-th-href="@{~/img/favicon.png}" rel="shortcut icon" href="img/favicon.png">

    <title data-th-replace="${title}">Generic title</title>

    <!-- Icons -->
    <link data-th-href="@{~/css/font-awesome.min.css}" href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link data-th-href="@{~/css/simple-line-icons.css}" href="../public/css/simple-line-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />

    <!-- Main styles for this application -->
    <link data-th-href="@{~/css/style.css}" href="../public/css/style.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-hidden">

<header data-th-fragment="default_top_bar(active)" class="app-header navbar">
    <a class="navbar-brand" data-th-href="@{~/}" href="index.html"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item" style="padding: 1rem">
            <a data-th-classappend="${active} == history ? active"
               data-th-href="@{~/history}"
               class="nav-link" href="#">History</a>
        </li>
        <li class="nav-item p-x-1" style="padding: 1rem">
            <a data-th-classappend="${active} == new_test ? active"
               data-th-href="@{~/new-test}"
               class="nav-link" href="#">New Test</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-3">
            <a class="nav-link" href="#" target="_blank">About</a>
        </li>
    </ul>
</header>

<div class="app-body">

</div>

<div class="main">
    <div class="container-fluid" style="margin-top:1.5rem">
        <!-- Contents -->

    </div>
</div>

<!--/*/ <th:block th:fragment="footer"> /*/-->
<!-- Bootstrap and necessary plugins -->
<script data-th-src="@{~/bower_components/jquery/dist/jquery.min.js}"></script>
<script data-th-src="@{~/bower_components/tether/dist/js/tether.min.js}"></script>
<script data-th-src="@{~/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script data-th-src="@{~/bower_components/pace/pace.min.js}"></script>

<!-- GenesisUI main scripts -->
<script data-th-src="@{~/js/app.js}"></script>
<!--/*/ </th:block> /*/-->
</body>

</html>