<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- GA-SVM parameter table -->
<div data-th-fragment="param_table(ga, svm)" class="row">
    <!-- GA -->
    <div class="col-md-6">
        <p class="lead">GA Params</p>
        <table class="table table-outline">
            <thead class="thead-default">
            <tr>
                <th>Param</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Population</td>
                <td id="gaPopSize">[[(${ga} != _)? ${ga.popSize} : 100]]</td>
            </tr>
            <tr>
                <td>Generation</td>
                <td id="gaGeneration">[[(${ga} != _)? ${ga.generation} : 100]]</td>
            </tr>
            <tr>
                <td>Cr</td>
                <td id="gaCr">[[(${ga} != _)? ${ga.cr} : 100]]</td>
            </tr>
            <tr>
                <td>Mr</td>
                <td id="gaMr">[[(${ga} != _)? ${ga.mr} : 100]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- SVM-->
    <div class="col-md-6">
        <p class="lead">SVM Params</p>
        <table class="table table-outline">
            <thead class="thead-default">
            <tr>
                <th>Param</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Epsilon</td>
                <td id="svmEpsilon">[[(${svm} != _)? ${svm.epsilon} : 100]]</td>
            </tr>
            <tr>
                <td>C</td>
                <td id="svmC">[[(${svm} != _)? ${svm.C} : 100]]</td>
            </tr>
            <tr>
                <td>Gamma</td>
                <td id="svmGamma">[[(${svm} != _)? ${svm.gamma} : 100]]</td>
            </tr>
            <tr>
                <td>Lambda</td>
                <td id="svmLambda">[[(${svm} != _)? ${svm.lambda} : 100]]</td>
            </tr>
            <tr>
                <td>RBF delta</td>
                <td id="svmKernelParam">[[(${svm} != _)? ${svm.kernelParam} : 100]]</td>
            </tr>
            <tr>
                <td>Iteration</td>
                <td id="svmMaxiter">[[(${svm} != _)? ${svm.maxIter} : 100]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>